<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>Hello world - about. This is HTML5 Boilerplate.</p>
        {{> footer}}
    </body>
</html>
